<h1>Most Dangerous Day</h1>
<h2><%= @asteroid_facade.start_date %> - <%= @asteroid_facade.end_date %></h2>

<ul>
  <% @asteroid_facade.each do |asteroid| %>
    <li class="asteroid">Name: (<%= asteroid.name %>)   NEO Reference ID: <%= asteroid.id %></li>
  <% end %>
</ul>
